<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Park Bulvar Admin</title>
    <link rel="shortcut icon" href="~/favicon.ico">
    <!-- Custom fonts for this template-->
    <link href="/Admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lity/2.3.1/lity.min.css" rel="stylesheet" />
    <!-- Custom styles for this template-->
    <link href="~/Admin/css/sb-admin-2.min.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        .nav-link {
            cursor: pointer !important;
        }
    </style>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" target="_blank" href="/home/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">MB Admin<sup>2</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <!-- Divider -->
            <hr class="sidebar-divider" />
            <!-- Divider -->
            <!-- Heading -->


            <li class="nav-item">
                <a class="nav-link" asp-controller="Languages" asp-action="Index">
                    <i class="fa fa-folder"></i>
                    <span>Dillər</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-controller="homeslideritems" asp-action="Index">
                    <i class="fa fa-folder"></i>
                    <span>Slayder şəkilləri</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="shopcategories" asp-action="Index">
                    <i class="fa fa-folder"></i>
                    <span>Mağaza kateqoriyaları</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="subshopcategories" asp-action="Index">
                    <i class="fa fa-folder"></i>
                    <span>Alt Kateqoriyalar</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="shops" asp-action="Index">
                    <i class="fa fa-folder"></i>
                    <span>Mağazalar</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="compaigns" asp-action="Index">
                    <i class="fa fa-folder"></i>
                    <span>Aksiyalar</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="galleryimages" asp-action="Index">
                    <i class="fa fa-folder"></i>
                    <span>Qalareya</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="news" asp-action="Index">
                    <i class="fa fa-folder"></i>
                    <span>Xəbərlər/Tədbirlər</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="newspages" asp-action="Index">
                    <i class="fa fa-folder"></i>
                    <span>Xəbərlər səhifəsi</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="aboutuspages" asp-action="Index">
                    <i class="fa fa-folder"></i>
                    <span>Haqqımızda səhifəsi</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="generalinfoes" asp-action="Index">
                    <i class="fa fa-folder"></i>
                    <span>Ümumi məlumatlar</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="sociallinks" asp-action="Index">
                    <i class="fa fa-folder"></i>
                    <span>Sosial şəbəkə</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-controller="seokeywords" asp-action="Index">
                    <i class="fa fa-folder"></i>
                    <span>Seo açar sözlər</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="seodescriptions" asp-action="Index">
                    <i class="fa fa-folder"></i>
                    <span>Seo açıqlamalar</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="metatags" asp-action="Index">
                    <i class="fa fa-folder"></i>
                    <span>Seo taglar</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-controller="adminconfigs" asp-action="Index">
                    <i class="fa fa-folder"></i>
                    <span>Admin tənzimləmələr</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="followers" asp-action="Index">
                    <i class="fa fa-folder"></i>
                    <span>İzləyənlər</span>
                </a>
            </li>


            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>

        <!-- End of Sidebar -->

        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">


                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">



                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Admin</span>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/Admin/account/logout/">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->

                    <div class="row">
                        <div class="col-12">
                            @RenderBody()
                        </div>
                    </div>


                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website @DateTime.Now.Year</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>





    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <script src="/Admin/vendor/jquery/jquery.min.js"></script>
    <script src="/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <!-- Custom scripts for all pages-->
    <script src="/Admin/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->





    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lity/2.3.1/lity.js"></script>
    <script src="~/Admin/js/admin.js"></script>
    <script>
        $("body").on("change", ".imginput", function (event) {
            $($(this).parent("div").children(".editedImage")).attr("src", URL.createObjectURL(event.target.files[0]));
            $($(this).parent("div").children(".editedImage")).css("display", "inline-block");
        })
        $(".wrapper input").change(function () {
            $(".wrapper .newimage").remove();
            for (var i = 0; i < event.target.files.length; i++) {
                $(".wrapper").append(
                    '<img class="m-1 newimage" src="' + URL.createObjectURL(event.target.files[i]) + '"   width="100" height="100" alt="Alternate Text" />'
                )
            }
        })
    </script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var table = document.querySelector("table");
            if ($(table).attr("data-emrah") != null) {
                let tableName = $(table).attr("data-emrah");
                let tBody = $(table).children("tbody");
                $(tBody).children("tr").css("cursor", "row-resize");
                $(tBody).sortable();
                $(table).siblings("div").append("<button type='button' class='btn  btn-success  confirmqueue'><i class='fas fa-check mr-1'></i>Sıralamanı təsdiqlə</button>");
                $("body").on("click", ".confirmqueue", function () {
                    var orderArray = [];
                    for (var i = 0; i < $(tBody).children("tr").length; i++) {
                        orderArray.push(new row($(tBody).children("tr")[i].getAttribute("data-id"), i));
                    }
                    $.ajax({
                        url: "/admin/ajax/confirmqueue/",
                        type: "post",
                        data: { order: orderArray, classname: tableName },
                        datatype: "json",
                        success: function (res) {
                            if (res.status == 200) {
                                swal("Sıralama qeydə alındı.Təşəkkürlər", "", "success");
                                setTimeout(function () {
                                    window.location.reload();
                                }, 1500)
                            }
                        }
                    })
                    function row(id, place) {
                        this.Id = id,
                            this.Place = place
                    }
                })
            }
        })
    </script>
    @RenderSection("scripts", false)

</body>
</html>

