@model ParkBulvarProject.Models.ViewModels.ShopsAllViewModel
@{
    string lang = ViewBag.lang;
}
<section id="kategoriyaMagazalar">
    <div class="container">
        @{
            var dic = Model.subcat.SubShopCategoryDictionaries.FirstOrDefault(x => x.Language.Code == lang);
        }
        @if (dic != null)
        {
            <div class="kategoriyaMagazalar">
                <div class="header">
                    <h4 class="size35_angel">@dic.Name</h4>
                </div>
                <div class="magazalar">
                    @foreach (var rl in Model.subcat.ShopToSubCategories.Skip(0).Take(10))
                    {
                        var dic1 = rl.Shop.ShopDictionaries.FirstOrDefault(x => x.Language.Code == lang);
                        if (dic1 != null)
                        {
                            <div class="magaza">
                                <a href="/home/model/" class="overlay"></a>
                                <img src="~/assets/img/magazalar/@rl.Shop.Logo" alt="Park Bulvar">
                            </div>
                        }
                    }
                </div>
            </div>
        }

    </div>
</section>

